<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>User List(Admin)</title>
  <!-- <link rel="stylesheet" href="./css/main.css"> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
  <div id="app">
    <!-- <pre>{{$data.newdocument}}</pre> -->
    <div class="row">
      <td><button type="button" class="btn btn-outline-primary pl-1 ml-4 mt-5"
          v-on:click="movetouseradmin">User(Adm)</button></td>
      <td><button type="button" class="btn btn-outline-primary pl-1 ml-4 mt-5" v-on:click="movetoplaceadmin">QR
          Place(Adm)</button></td>
      <td><button type="button" class="btn btn-outline-primary pl-1 ml-4 mt-5"
          v-on:click="movetocontentsgroupadmin">Cont.Group(Adm)</button></td>
      <td><button type="button" class="btn btn-outline-primary pl-1 ml-4 mt-5" v-on:click="movetoqrcontent">QR
          Content(C)</button></td>
      <td><button type="button" class="btn btn-outline-primary pl-1 ml-4 mt-5"
          v-on:click="movetostoreditem">StoredItem</button></td>
      <!-- <td><button type="button" class="btn btn-outline-primary pl-1 ml-4 mt-5"
          v-on:click="movetostoreditemcreate">StoredItem(C)</button></td>
      <td><button type="button" class="btn btn-outline-primary pl-1 ml-4 mt-5"
          v-on:click="movetostoreditemupdate">StoredItem(U)</button></td> -->
      <td><button type="button" class="btn btn-outline-primary pl-1 ml-4 mt-5"
          v-on:click="movetoprintqr">printQR</button></td>
      <td><button type="button" class="btn btn-outline-primary pl-1 ml-4 mt-5" v-on:click="movetoqrreader">QR
          Reader</button></td>
      <table class="table table table-striped ml-5 mt-5">
        <th>Operation</th>
        <th>ID</th>
        <th>Name</th>
        <th>Password</th>
        <th>Admin</th>

        <tr>
          <td><button type="button" class="btn btn-outline-primary" v-on:click="userregister">Register</button></td>
          <td>Auto Id</td>
          <td><input type="text" class="form-control" v-model="newname"></td>
          <td><input type="text" class="form-control" v-model="newpassword"></td>
          <td>
            <select class="form-control" v-model="isadminset">
              <option value=true>Admin</option>
              <option value=false>User</option>
            </select>
            <span>Selected: {{ isadminset }}</span>
          </td>
        </tr>

        <tr>
          <td><button type="button" class="btn btn-outline-primary" v-on:click="readall">ReadAll</button></td>
        </tr>
        <tr v-for="user in users">
          <th></th>
          <th>{{user.id}}</th>
          <th>{{user.name}}</th>
          <th>{{user.password}}</th>
          <th>{{user.is_admin}}</th>
        </tr>

        <tr>
          <td><button type="button" class="btn btn-outline-primary" v-on:click="usermodify">Modify</button>
          </td>
          <td><input type="text" class="form-control" v-model="modifiedid"></td>
          <td><input type="text" class="form-control" v-model="modifiedname"></td>
          <td><input type="text" class="form-control" v-model="modifiedpassword"></td>
        </tr>

        <tr>
          <td><button type="button" class="btn btn-outline-primary" v-on:click="userdelete">Delete</button>
          </td>
          <td><input type="text" class="form-control" v-model="deletedid"></td>
        </tr>

      </table>
      <table class="table table table-striped ml-5 mt-5">
        <td>LogOut</td>
        <td><button type="button" class="btn btn-outline-primary" v-on:click="logout">Logout</button></td>
    </table>

      <!-- <table class="table table table-striped ml-5 mt-5">
        <td>LogOut</td>
        <td><button type="button" class="btn btn-outline-primary" v-on:click="logout">Logout</button></td>
      </table> -->
      <pre>{{$data.users}}</pre>



    </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery.qrcode@1.0.3/jquery.qrcode.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>


  <script src="./js/adminuser.js"></script>
</body>

</html>