<!-- add place, create for QR for new place and existing place -->

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>Place(Admin)</title>
    <!-- <link rel="stylesheet" href="./css/main.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  </head>

<body>
  <div id="app">
    <div class="row">
      <table class="table table table-striped ml-5 mt-5">
        <th>Operation</th>
        <th>ID</th>
        <th>New Storage Place</th>
        <tr>
          <td><button type="button" class="btn btn-outline-primary" v-on:click="addplace">Add Place</button></td>
          <td>Auto Id</td>
          <td><input type="text" class="form-control" v-model="newstorageplace"></td>
        </tr>

        <tr> <td><button type="button" class="btn btn-outline-primary" v-on:click="readall">ReadAll</button></td></tr>
        <tr v-for="place in places">
            <th></th>
            <th>{{place.id}}</th>
            <th>{{place.storageplace}}</th>
          </tr>
        <tr> <td><button type="button" class="btn btn-outline-primary" v-on:click="movetostoreditemlist">To Stored Item List</button></td></tr>
        <tr> <td><button type="button" class="btn btn-outline-primary" v-on:click="movetoqrcreaterforcontent">To Content</button></td></tr>
      </table>



    </div>

    <div class="row">
      <div id="qrprint" class="ml-5 mt-5"></div>
    </div>

  </div>

  <script src="./js/qrcreaterforplace.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery.qrcode@1.0.3/jquery.qrcode.min.js"></script>
    
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</body>

</html>